.burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.totalNavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.links {
    display: none;
}

.burger-menu {
    display: none;
    flex-direction: column; 
    align-items: flex-start;
}

.fa-bars {
    font-size: 2em;
}